<div class="container">
    <div class="row">
        <div style="margin-right: auto;
    margin-left: auto;
    width: 170px;padding-top:20px">
        <img src="assets/images/plugnchill-logo-sm.png"/>
        </div>
        <h1 class="text-center">Device Monitoring System</h1>
    </div>
    <div class="row">
        <div class="col-sm-8" style="padding:0px 50px;">
            <div class="login-carousel"></div>
        </div>
        <div class="col-sm-6 col-md-4" style="padding-right:50px">
            <h1 class="text-center login-title">Sign in to continue to Tessol</h1>
            <alert></alert>
            <div class="account-wall">
                <img class="profile-img" src="assets/images/photo.png"
                    alt="">
                <form class="form-signin" #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="!auth.loggedIn()">
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="username" name="username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <!--<label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>-->
                <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                <a routerLink="/reset">Forgot your password?</a>
                </form>
                
            </div>
            <!--<a href="#" class="text-center new-account">Create an account </a>-->
        </div>
    </div>
</div>