<div>
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="fa fa-tablet page-heading"></span> Edit Device Configuration</h1>
        </div>
    </div>
    <hr/>
    <div class="row" *ngIf="step === 1">
        <alert></alert>
        <form name="form" (ngSubmit)="f.form.valid && nextStep()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !id.valid }">
                <label for="id">Device ID</label>
                <input type="text" [disabled]="mode!='Add'" class="form-control" name="id" [(ngModel)]="model.id" #id="ngModel" required />
                <div *ngIf="f.submitted && !id.valid" class="help-block">Device ID is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label for="name">Name</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !vn.valid }">
                <label for="vn">Vehicle Number</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="vn" [(ngModel)]="model.vehicle_no" #vn="ngModel" required />
                <div *ngIf="f.submitted && !vn.valid" class="help-block">Vehicle Number is required</div>
            </div>
            <div class="form-group">
                <label for="driver">Driver</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="driver" [(ngModel)]="model.driver" #driver="ngModel" />
            </div>
            <div class="form-group">
                <label for="sim_no">Sim No</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="sim_no" [(ngModel)]="model.sim_no" />
            </div>
            <div class="form-group">
                <label for="sim_no">Timezone</label>
                <!--<input type="text" [disabled]="mode=='View'" class="form-control" name="timezone" [(ngModel)]="model.timezone" />-->
<select [(ngModel)]="model.timezone" [disabled]="mode=='View'" name="timezone">
  <option *ngFor="let c of getTimeZones()" [ngValue]="c">{{c}}</option>
</select>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Next</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
            </div>
        </form>
    </div>
    <div class="row" *ngIf="step === 2">
        <alert></alert>
        <form name="form" (ngSubmit)="f1.form.valid && nextStep()" #f1="ngForm" novalidate>
            <div class="form-group">
                <label for="comm_intval">Communication Interval</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="comm_intval" [(ngModel)]="model.comm_intval" />
            </div>
            <div class="form-group">
                <label for="fw_ver">Firmware Version</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="fw_ver" [(ngModel)]="model.fw_ver" />
            </div>
            <div class="form-group">
                <label for="apn">APN</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="apn" [(ngModel)]="model.apn" />
            </div>
            <div class="form-group">
                <label for="simccid">SIM CCID</label>
                <input type="text" [disabled]="mode=='View'" class="form-control" name="simccid" [(ngModel)]="model.sim_ccid" />
            </div>
            <div class="form-group">
                <label for="memalarm">Memory Alarm</label><br/>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="yes" name="memalarm" [(ngModel)]="model.mem_alarm"> Yes </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="no" name="memalarm" [(ngModel)]="model.mem_alarm"> No </label>
            </div>
            <div class="form-group">
                <label for="debugmode">Debug Mode</label><br/>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="on" name="debugmode" [(ngModel)]="model.debug_mode"> On </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="off" name="debugmode" [(ngModel)]="model.debug_mode"> Off </label>
            </div>
            <div class="form-group">
                <label for="sdcrecording">SD Card Recording</label><br/>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="on" name="sdcrecording" [(ngModel)]="model.sdc_recording"> On </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="off" name="sdcrecording" [(ngModel)]="model.sdc_recording"> Off </label>
            </div>
            <div class="form-group">
                <label for="dailyreport">Daily Report</label><br/>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="yes" name="dailyreport" [(ngModel)]="model.daily_report"> Yes </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="no" name="dailyreport" [(ngModel)]="model.daily_report"> No </label>
            </div>
            <div class="form-group">
                <label for="sendalerts">Send Alerts</label><br/>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="yes" name="sendalerts" [(ngModel)]="model.send_alerts"> Yes </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value="no" name="sendalerts" [(ngModel)]="model.send_alerts"> No </label>
            </div>
            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary" (click)="previousStep()">Back</button>
                <button [disabled]="loading" class="btn btn-primary">Next</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
            </div>
        </form>
    </div>
    <div class="row" *ngIf="step === 3">
        <alert></alert>
        <form name="form" (ngSubmit)="f2.form.valid && register()" #f2="ngForm" novalidate>
            <div class="form-group">
                <label for="comm_intval">Geofence Enabled</label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value=true name="geofenceenabled" (change)="handleChange($event)" [(ngModel)]="model.geofence_enabled"> Yes </label>
                <label class="radio-inline"><input type="radio" [disabled]="mode=='View'" value=false name="geofenceenabled" (change)="handleChange($event)" [(ngModel)]="model.geofence_enabled"> No </label>
            </div>
            <div class="form-group" *ngIf="model.geofence_enabled!== 'true'">
                                <button [disabled]="loading" class="btn btn-primary" (click)="previousStep()">Back</button>
                <button [disabled]="loading" class="btn btn-primary">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
            </div>
            <div class="form-group" *ngIf="model.geofence_enabled=== 'true'">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Select a point on the map for Geofencing</label>
                        <div id="map" style="width: 500px; height: 400px;"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lat">Latitude</label>
                            <input type="text" class="form-control" name="lat" [(ngModel)]="model.lat" readonly="yes" />
                        </div>
                        <div class="form-group">
                            <label for="lon">Longitude</label>
                            <input type="text" class="form-control" name="lon" [(ngModel)]="model.lon" readonly="yes" />
                        </div>
                        <div class="form-group">
                            <label for="radius">Radius (In km)</label>
                            <input type="text" class="form-control" [disabled]="mode=='View'" name="radius" [(ngModel)]="model.radius" #radius (keyup)="radiusChanged(radius.value)"
                            />
                        </div>
                        <div class="form-group">
                                                        <button *ngIf="mode !== 'View'" [disabled]="loading" (click)="previousStep()" class="btn btn-primary">Back</button>

                            <button *ngIf="mode !== 'View'" [disabled]="loading" class="btn btn-primary">Submit</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                            <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>