<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">GPS LATITUDE</div>
        <div class="col-sm-3">16.489</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">GPS LONGITUDE</div>
        <div class="col-sm-3">77.93</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">BEARING</div>
        <div class="col-sm-3">82.65</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">ACTIVE POWER</div>
        <div class="col-sm-3">6.77 kW</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH1</div>
        <div class="col-sm-3">0 V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH2</div>
        <div class="col-sm-3">0 V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH3</div>
        <div class="col-sm-3">0 V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">ROOM TEMP</div>
        <div class="col-sm-3">14.6 C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PLATE TEMP</div>
        <div class="col-sm-3">53 C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">CD TEMP</div>
        <div class="col-sm-3">20 C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">AVG VOLTAGE</div>
        <div class="col-sm-3">0 V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">TOTAL CURRENT</div>
        <div class="col-sm-3">0 A</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">TOT KWH</div>
        <div class="col-sm-3">29.26 kWh</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">BATTERY</div>
        <div class="col-sm-3">11.59 V</div>
        <div class="col-sm-1"></div>
    </div>
</div>