<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">GPS LATITUDE</div>
        <div class="col-sm-3">{{data.latitude}}</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">GPS LONGITUDE</div>
        <div class="col-sm-3">{{data.longitude}}</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">ACTIVE POWER</div>
        <div class="col-sm-3">{{data.activePower}} kW</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH1</div>
        <div class="col-sm-3">{{data.PH1}} V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH2</div>
        <div class="col-sm-3">{{data.PH2}} V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PH3</div>
        <div class="col-sm-3">{{data.PH3}} V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">ROOM TEMP</div>
        <div class="col-sm-3">{{data.roomTemp}} C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">PLATE TEMP</div>
        <div class="col-sm-3">{{data.plateTemp}} C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">CD TEMP</div>
        <div class="col-sm-3">{{data.cdTemp}} C</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">AVG VOLTAGE</div>
        <div class="col-sm-3">{{data.avgVolt}} V</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">TOTAL CURRENT</div>
        <div class="col-sm-3">{{data.totalCurrent}} A</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">TOT KWH</div>
        <div class="col-sm-3">{{data.totalKwh}} kWh</div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">BATTERY</div>
        <div class="col-sm-3">{{data.battery}}</div>
        <div class="col-sm-1"></div>
    </div>
</div>