.tablerow {
    display:flex;
    flex-direction: row;
    width:100%;
}
.tablerow .col {
    flex-grow:1;
    width:50px;
    padding-top:10px;
    padding-bottom:10px;
    border-right:1px solid #dddddd;
    padding:5px;
    color: #73879C;
    height:105px;
}
.tablerow .col.lineStatus {
    flex-grow:0;
    width:40px;
}
.tablerow .col.alerts {
    flex-grow:0;
    width:90px;
   /* color:#ca6767;*/
   color:#000000;
}
.tablerow .col.speed {
    flex-grow:0;
    width:100px;
}
.tablerow .col.gridrow-expand {
    flex-grow:0;
    width:40px;
}
.tablerow .col.lineStatus .Online {
    color:green;
    font-size:20px;
}
.tablerow .col.lineStatus .Offline {
    color: #e62117;
    font-size:20px;
}
.tablerow .colheader {
    font-weight: bold;
    width:50px;
    flex-grow:1;
    color: #73879C;
    height:50px;
}
.tablerow:hover {
    background:#daeffd!important;
}
.dbgrid.panel-group {
    margin-bottom:0px;
}
.dbgrid .panel-heading {
    padding:0px;
}
.dbicon {
    width:20px;
    height:20px;
}
.signal1 {
    background: url(assets/images/signal.png);
    background-position:-20px -20px;
}
.signal2 {
    background: url(assets/images/signal.png);
    background-position:0px -20px;
}
.signal3 {
    background: url(assets/images/signal.png);
    background-position:-20px 0px;
}
.signal4 {
    background: url(assets/images/signal.png);
    background-position:0px 0px;
}
.device-modal .modal-dialog.modal-lg {
    width:1000px;
}
.dbdetail-container .row {
    border-bottom:1px solid rgba(0,0,0,0.1);
}