<div>
    <div *ngIf="col.key=='lineStatus'">
        Status
    </div>
    <div *ngIf="col.key=='lastUpdated'">
        Last Updated
    </div>
    <div *ngIf="col.key=='groupName'">
        Group Name
    </div>
    <div *ngIf="col.key=='status'">
        Status
    </div>
    <div *ngIf="col.key=='vehicleNumber'">
        Vehicle Number
    </div>
    <div *ngIf="col.key=='driver'">
        Driver
    </div>
    <div *ngIf="col.key=='location'">
        Location
    </div>
    <div *ngIf="col.key=='checkPoint'">
        Checkpoint
    </div>
    <div *ngIf="col.key=='speed'">
        Speed
    </div>
    <div *ngIf="col.key=='distance'">
        Distance
    </div>
    <div *ngIf="col.key=='temperature'">
        Temperature
    </div>
</div>